/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid lightgray;
  text-align: center;
  width: 100% !important;
  margin: auto;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  color: #212121;
  font-family: "Noto Sans JP", sans-serif;
}

/* mixin
-----------------------------------------*/
/* contents
-----------------------------------------*/
.section__ttl {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  margin: 10px 0 48px;
}
@media only screen and (max-width: 767px) {
  .section__ttl {
    font-size: 24px;
  }
}
.section__ttl:after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #212121;
  margin: 8px auto;
  border-radius: 16px;
}
.section__container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}



@media only screen and (max-width: 1024px) {
  .section__container {
    width: 90%;
    padding: 60px 0;
  }
}
@media only screen and (max-width: 767px) {
  .section__container {
    padding: 42px 0;
  }
}

.header {
  width: 100%;
  height: 0.75%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  background: #c80b4c;
  color: #fff;
  padding: 0.8%;
}
@media only screen and (max-width: 767px) {
  .header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 190%;
    padding: 5%;
  }
}
.header__ttl {
  font-size: 28px;
  letter-spacing: 1px;
  margin: 0 0 0 32px;
}
@media only screen and (max-width: 767px) {
  .header__ttl {
    font-size: 24px;
    margin: 0 0 12px;
  }
}

.gnav {
  margin: 0 32px 0 auto;
}
@media only screen and (max-width: 767px) {
  .gnav {
    width: 100%;
    margin: 0 auto;
  }
}
.gnav__list {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .gnav__list {
    justify-content: center;
    display: none;
  }
}
.gnav__item {
  margin: 0 16px 0 0;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .gnav__item {
    margin: 0 16px;
  }
}
.gnav__item:last-of-type {
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .gnav__item:last-of-type {
    margin: 0 16px;
  }
}
.gnav__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.5s ease 0s;
  text-align: center;
}
.gnav__link:after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #fff;
  margin: 0 auto;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  transition: all 0.5s ease 0s;
}
.gnav__link:hover {
  opacity: 0.6;
}
.gnav__link:hover:after {
  width: 30px;
}

.fv {
  background:#ddd url(../image/header.png) no-repeat center center;
  background-size:cover;
}
.fv__container {
  width: 1024px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

h2.fv__ttl {
  text-align: center;
}

.fv__ttl p{
  background: linear-gradient(transparent 60%, #8b4513 60%);
  margin-bottom: 5px;
}

p.fv__desc{
  background-color: #fff;
}

h2 > p {
  margin-bottom: 1%;
}

.under_price_image{
  max-height: 500px;
  align-items: center;
  display: block;
  margin: auto;
  margin-bottom: 55px;
}

@media only screen and (max-width: 767px) {
  .under_price_image {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {


  .flyer_items{
    width: 80%;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }

  .flyer_image {
    max-width: 50%;
    margin-left: 5%;
    margin-right: 5%;
  }

}
@media only screen and (max-width: 767px) {
  .flyer_items{
    width: 80%;
    margin:auto;
  }

  .flyer_image {
    width: 100%;
    margin-top: 5%;
  }
}



@media only screen and (max-width: 1024px) {
  .fv__container {
    width: 90%;
  }
}
@media only screen and (max-width: 767px) {
  .fv__container {
    height: 400px;
  }
}
.fv__ttl {
  font-size: 60px;
  letter-spacing: 2px;
  margin: 0 0 32px;
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .fv__ttl {
    font-size: 48px;
  }
}
@media only screen and (max-width: 767px) {
  .fv__ttl {
    font-size: 30px;
  }
}
.fv__desc {
  line-height: 1.7;
  text-align: center;
  font-size: 20px;
  margin: 0 0 60px;
}
@media only screen and (max-width: 767px) {
  .fv__desc {
    font-size: 16px;
    margin: 0 0 32px;
  }
  .fv__desc br {
    display: none;
  }
}
.fv__cv {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c80b4c;
  color: #fff;
  text-decoration: none;
  width: 300px;
  height: 65px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 5px #c80b4c;
  transition: all 0.5s ease 0s;
  border: 2px solid #c80b4c;
}
.fv__cv:hover {
  box-shadow: none;
  background: #fff;
  color: #4f9a94;
}
@media only screen and (max-width: 1024px) {
  .fv__cv {
    font-size: 20px;
    width: 250px;
    height: 55px;
  }
}

.about {



}
.about__desc {
  width: 80%;
  margin: 0 auto 80px;
  text-align: center;
  line-height: 1.7;
}
@media only screen and (max-width: 767px) {
  .about__desc {
    width: 100%;
    font-size: 14px;
    margin: 0 auto 48px;
  }
}
.about__item {
  width: 100%;
  list-style: none;
  display: flex;
  margin: 0 0 120px;
  flex-wrap: wrap;
}
.about__img {
  width: 50%;
}
.about__img img {
  width: 100%;
}
.about__img.is-2 {
  order: 1;
  margin: 0 0 0 auto;
}
@media only screen and (max-width: 1024px) {
  .about__img.is-2 {
    margin: 0 0 24px;
    order: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .about__img {
    width: 100%;
    margin: 0 0 24px;
  }
}
.about__contents {
  width: 45%;
  margin: 0 0 0 auto;
}
.about__contents.is-2 {
  order: 0;
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  .about__contents {
    width: 100%;
  }
}
.about__subttl {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 16px;
  display: inline;
  width: 150px;
  height: 46px;
  justify-content: center;
  align-items: center;
  background: #212121;
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .about__subttl {
    width: 100%;
    color: #212121;
    background: none;
    border-bottom: 1px solid #ccc;
  }
}
.about__subdesc {
  line-height: 1.7;
  margin-top: 10px;
}


@media only screen and (max-width: 767px) {
  .about__subdesc {
    font-size: 14px;
  }
}

.price__desc {
  width: 80%;
  margin: 0 auto 55px;
  text-align: center;
  line-height: 1.7;
}
@media only screen and (max-width: 1024px) {
  .price__desc {
    margin: 0 auto 48px;
  }
}
@media only screen and (max-width: 767px) {
  .price__desc {
    width: 100%;
  }
}
.price__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.price__item {
  width: 100%;
  list-style: none;
  width: 49%;
}

li.price__item {
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .price__item {
    width: 100%;
    margin: 0 0 24px;
  }
}
.price__plan {
  font-size: 28px;
  margin: 0 0 20px;
  color: #c80b4c;
  padding: 6px 0 6px 10px;
  border-left: 6px solid #8b4513;
}
.price__table {
  width: 100% !important;
  font-size: 18px;
  border-bottom: 1px solid #8b4513;
}
@media only screen and (max-width: 767px) {
  .price__table {
    border: none;
  }
}
.price__name {
  width: 25%;
  padding: 12px;
  border: 1px solid #592C0C;
  border-bottom: none;
  background: #8b4513;
  text-align: center;
  color: #fff;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  .price__name {
    width: 100%;
    display: block;
    border: none;
    font-size: 14px;
 
  }
}
.price__data {
  width: 75%;
  padding: 12px;
  border: 1px solid #8b4513;
  border-left: none;
  border-bottom: none;
  line-height: 1.7;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .price__data {
    width: 100%;
    display: block;
    border: none;
    font-size: 14px;
  }
}

.recruit {
  background: #f3f3f3;
}
.recruit__desc {
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .recruit__desc {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .recruit__desc {
    font-size: 14px;
  }
}
.recruit__more {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c80b4c;
  color: #fff;
  text-decoration: none;
  width: 300px;
  height: 65px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 5px #c80b4c;
  transition: all 0.5s ease 0s;
  border: 2px solid #c80b4c;
  margin: 60px auto;
}
.recruit__more:hover {
  box-shadow: none;
  background: #fff;
  color: #4f9a94;
}
@media only screen and (max-width: 1024px) {
  .recruit__more {
    font-size: 20px;
    width: 250px;
    height: 55px;
  }
}

.footer {
  background: #212121;
  padding: 24px 0;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .footer {
    font-size: 12px;
  }
}  